{% extends 'base.html' %}
{% block title %} Editar oferta {% endblock %}
{% block content %}
<div class="row">
	<div class="span6">
		<form action="." method="POST" enctype="multipart/form-data">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit" class="btn btn-small btn-primary"> Guardar </button>
			<button type="reset" class="btn btn-small btn-inverse"> Limpiar </button>
		</form>
		<a href="/productos/page/1" class="btn btn-primary"> Regresar a la lista de ofertas </a>	
	</div>
	<div class="span5">
		<img src="/media/{{producto.imagen}}"/>
	</div>
</div>
<br>
	{{ informacion }}
<br>
{% endblock %}
