{% extends 'base.html' %}
{% block title %} Acerca de... {% endblock %}
{% block content %}
<h3 align=center> Acerca de nosotros</h3><br>
<p>Somos dos estudiantes de Ingeniería de Informática de la universidad de La Laguna.
   

Fotos de los realizadores de la aplicación TruekeJob </em><span style="font-size:26px;"><em role="checkbox" style="font-family: Arial">.</em></span>
</p>

        <p align=center> <span style="color: rgb(178, 34, 34);">  Fotos de realizadores de la web: </span> </p>

<div class="row">
	
	<div class="span6">
		<p>Adan Rafael Lopez Lecuona</p><img src="/media/MultimediaData/Users/adan/adan.png" width="200" height="100">
	</div>
<div class="span6">
		<p>Sergio Afonso</p><img  src="/media/MultimediaData/Users/sergio/images.jpeg" width="200" height="100">
	</div>
</div>
{% endblock %}
